html {
    background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    background-size: 20px 20px;
    padding: 1.25em;
}

body {
    padding-bottom: 1.5em;
    font-family: 'Bungee', cursive;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #49b600, 1px 0 1px #49b600, 1px 0px 0px #49b600;
    background: url('../images/gameBackground.jpg') no-repeat;
    background-size: cover;
    border: 5px dotted solid #561a16;
}

.flex-container {
    display: flex;  
    flex-flow: column wrap;
    text-align: center;
}

.flex-item {

}

h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
    background-color: #181a10;
}

#gameTitleImage, #loseImage, #winImage { 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, #loseImage, #winImage { display: none;} .flex-container-left {
    padding-top: 20px;
    border: 3px dashed #fff;
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, .3);
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}